.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team {
  background: #f5f4fa;
}

.subtitle {
  margin-bottom: 30px;
  @include font(28px, 700, 33px);
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  margin-top: 30px;
  margin-bottom: 10px;

  @include font(16px, 500, 19px);
  text-align: center;
  letter-spacing: 0.03em;
}

.team-position {
  margin-bottom: 16px;
  @include font(16px, 400, 19px);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (max-width: 767px) {
  .team-list-item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  .team-list-item {
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .subtitle {
    @include font(36px, 700, 42px);
  }
}
